<html>
<head>
<title>NISVOLUNTEERS</title>
<link rel="stylesheet" type="stylesheet" href="style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<link rel="stylesheet" href="<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
	<div class="container counter-section">
	<div class="row text-center">
	<div class="col-md-3" counter-box>
		<div class="icon-box"><i class="fas fa-users"></i></div>
		<p class="counter">1000</p>
		<p>volunteers</p>
	</div>
	<div class="col-md-3" counter-box>
		<div class="icon-box"><i class="fas fa-trophy"></i></div>
		<p class="counter">20</p>
		<p>filials</p>
	</div>
	<div class="col-md-3" counter-box>
		<div class="icon-box"><i class="fas fa-briefcase"></i></div>
		<p class="counter">90</p>
		<p>events held</p>
	</div>
	</div>
	</div>

	<!------counter----------------->
		<script scr="jquery.counterup.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<script src="jquery.counterup.min.js"></script>
		<script>
			jQuery(document).ready(function( $ )
			{
				$('.counter').counterUp({
    			delay: 10,
    			time: 1000
				});
			}
		</script>

</body>
</html>